/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

#root,
#__next {
  isolation: isolate;
}

/*-------------------------------------*/

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("woff2-variations");
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("woff2")
    tech("variations");
  font-style: normal;
  font-display: swap;
  font-weight: 400 900;
}

:root {
  --star-wars-yellow: #ffe81f;
  --vader-saber-red: #cc0000;
  --vader-black: #000000;
  --vader-dark-grey: #242424;
  --vader-light-grey: #dfdfdf;
  --vader-navy: #2d2b3c;
  --vader-dark-red: #670000;
  --vader-red: #a50000;
  --yoda-saber-green: #66cc33;
  --yoda-light-green: #dde5b4;
  --yoda-green: #adc178;
  --yoda-beige: #f0ead2;
  --yoda-light-brown: #a98467;
  --yoda-dark-brown: #6c584c;
}

body {
  background-image: url(./images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Orbitron", sans-serif;
}

.page-title {
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--star-wars-yellow);
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }
}

.card {
  background-color: var(--card-backround-color);
  box-shadow: 1px 0 5px 1px #fff, -1px 0 5px 1px #fff, 0 -1px 5px 1px #fff,
    0 1px 5px 1px #fff, 5px 0 10px 5px var(--card-saber-color),
    -5px 0 10px 5px var(--card-saber-color),
    0 -5px 10px 5px var(--card-saber-color),
    0 5px 10px 5px var(--card-saber-color);
  border: 1px solid #fff;
  border-radius: 10px;
  min-width: 352px;
  flex: 1;
  margin: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    width: 352px;
  }
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: clamp(1.75rem, 0.8929rem + 1.7857vw, 2rem);
  text-transform: uppercase;
  text-shadow: 0px 0px 5px var(--card-text-shadow-color);
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 0 1.75rem;
  margin: 1rem 1rem calc(1rem + 4px);
}

.card__title::before {
  content: "";
  position: absolute;
  background: var(--card-text-decoration-color-primary);
  clip-path: polygon(1.75rem 0, 100% 0, calc(100% - 1.75rem) 100%, 0% 100%);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.card__title::after {
  content: "";
  position: absolute;
  background: var(--card-text-decoration-color-secondary);
  clip-path: polygon(1.75rem 0, 100% 0, calc(100% - 1.75rem) 100%, 0% 100%);
  width: 100%;
  height: 100%;
  left: 2px;
  z-index: -2;
  bottom: -4px;
}

.card__img-wrapper {
  margin: 1rem;
}

.card__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  clip-path: polygon(
    0 calc(100% - 1.75rem),
    0 0,
    calc(100% - 1.75rem) 0,
    100% 1.75rem,
    100% 100%,
    1.75rem 100%
  );
  border-style: solid;
  border-width: 4px;
  border-top-color: var(--card-text-decoration-color-primary);
  border-left-color: var(--card-text-decoration-color-primary);
  border-bottom-color: var(--card-text-decoration-color-secondary);
  border-right-color: var(--card-text-decoration-color-secondary);
}

.card__text-wrapper {
  display: flex;
  margin-bottom: 1rem;
  border-style: solid;
  border-top-width: 3px;
  border-bottom-width: 3px;
  background-color: var(--card-text-decoration-color-primary);
  border-color: var(--card-text-decoration-color-primary);
}

.card__text {
  position: relative;
  font-family: "Orbitron", sans-serif;
  padding: 0.25rem 0.75rem;
  text-align: center;
  background-color: var(--card-text-background-color);
  color: var(--card-text-color);
}

.card__text-wrapper--left {
  justify-content: flex-start;

  .card__text {
    text-align: right;
    padding-right: 2.4rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1.75rem) 100%, 0% 100%);
    margin-left: -1px;
  }
}

.card__text-wrapper--right {
  justify-content: flex-end;

  .card__text {
    text-align: left;
    padding-left: 2.4rem;
    clip-path: polygon(1.75rem 0, 100% 0, 100% 100%, 0 100%);
    margin-right: -1px;
  }
}

.card--light-side {
  --card-backround-color: var(--yoda-light-brown);
  --card-saber-color: var(--yoda-saber-green);
  --card-text-shadow-color: var(--yoda-saber-green);
  --card-text-decoration-color-primary: var(--yoda-green);
  --card-text-decoration-color-secondary: var(--yoda-light-green);
  --card-text-background-color: var(--yoda-beige);
  --card-text-color: var(--yoda-dark-brown);
}

.card--dark-side {
  --card-backround-color: var(--vader-black);
  --card-saber-color: var(--vader-saber-red);
  --card-text-shadow-color: var(--vader-saber-red);
  --card-text-decoration-color-primary: var(--vader-dark-red);
  --card-text-decoration-color-secondary: var(--vader-red);
  --card-text-background-color: var(--vader-dark-grey);
  --card-text-color: var(--vader-light-grey);
}
